.login-container {
    background-image: url('../src/assets/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -100px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}




